![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

As a consultant working for a real estate start-up, you have collected Airbnb listing data from various sources to investigate the short-term rental market in New York. You'll analyze this data to provide insights on private rooms to the real estate company.

There are three files in the data folder: airbnb_price.csv, airbnb_room_type.xlsx, airbnb_last_review.tsv.

## section I 
What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.
## section II
How many of the listings are private rooms? Save this into any variable.
## section III
What is the average listing price? Round to the nearest penny and save into a variable.
## section IV
Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, 
## section V
last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

In [3]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd
# Begin coding here ...

In [4]:
path = "https://raw.githubusercontent.com/nafis-git/data_science_path/main/data/data_airbnb"

In [6]:
# look at the price dataframe
prices = pd.read_csv(path +'/airbnb_price.csv', index_col = 'listing_id' )
prices.head()

                  price                nbhood_full
listing_id
2595        225 dollars         Manhattan, Midtown
3831         89 dollars     Brooklyn, Clinton Hill
5099        200 dollars     Manhattan, Murray Hill
5178         79 dollars  Manhattan, Hell's Kitchen
5238        150 dollars       Manhattan, Chinatown

In [10]:
# look at the room_type dataframe
room_types = pd.read_excel(path+'/airbnb_room_type.xlsx', index_col = 'listing_id')
room_types.head()

                                          description        room_type
listing_id
2595                            Skylit Midtown Castle  Entire home/apt
3831                  Cozy Entire Floor of Brownstone  Entire home/apt
5099        Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
5178                  Large Furnished Room Near B'way     private room
5238               Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [8]:
# look at the reviews dataframe
review = pd.read_csv(path+'/airbnb_last_review.tsv', sep = '\t', index_col = 'listing_id')
review.head()

              host_name   last_review
listing_id
2595           Jennifer   May 21 2019
3831        LisaRoxanne  July 05 2019
5099              Chris  June 22 2019
5178           Shunichi  June 24 2019
5238                Ben  June 09 2019

# section I
What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.

In [87]:
review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 2595 to 36455809
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   host_name    25201 non-null  object
 1   last_review  25209 non-null  object
dtypes: object(2)
memory usage: 590.8+ KB

In [88]:
# What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.
# or instead of parsing dates while reading we can use beelow line of code
review['last_review'] = pd.to_datetime(review['last_review'], format='%B %d %Y')
earliest_review = review['last_review'].min()
recent_review = review['last_review'].max()
print(f'earliest_review is {earliest_review} and the most recent review is at {recent_review}')

earliest_review is 2019-01-01 00:00:00 and the most recent review is at 2019-07-09 00:00:00

# Section II
How many of the listings are private rooms? Save this into any variable.

In [89]:
#How many of the listings are private rooms? Save this into any variable.

In [90]:
room_types['room_type'].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

In [91]:
room_types['room_type'] = room_types['room_type'].str.lower()

In [92]:

num_private = len(room_types[room_types['room_type'] == 'private room'])
num_private

11356

# section III
What is the average listing price? Round to the nearest penny and save into a variable.

In [93]:
prices[['price', 'currancy']] = prices['price'].str.split(' ', n = 1, expand =  True)

In [94]:
prices.head()

           price                nbhood_full currancy
listing_id
2595         225         Manhattan, Midtown  dollars
3831          89     Brooklyn, Clinton Hill  dollars
5099         200     Manhattan, Murray Hill  dollars
5178          79  Manhattan, Hell's Kitchen  dollars
5238         150       Manhattan, Chinatown  dollars

In [95]:
#What is the average listing price? Round to the nearest penny and save into a variable.
prices['price'] = prices['price'].astype('float')
avg_price =prices['price'].mean().round(2)
print(f' average price is {avg_price}')

 average price is 141.78

# section IV
Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

In [96]:
review_dates = pd.DataFrame({'first_reviewed': [earliest_review], 'last_reviewed':recent_review,
                             'nb_private_rooms': num_private,  'avg_price': avg_price}, index = [0])

In [97]:
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78

In [98]:
# # Import necessary packages
# import pandas as pd
# import numpy as np

# # Import CSV for prices
# airbnb_price = pd.read_csv('data/airbnb_price.csv')

# # Import Excel file for room types
# airbnb_room_type = pd.read_excel('data/airbnb_room_type.xlsx')

# # Import TSV for review dates
# airbnb_last_review = pd.read_csv('data/airbnb_last_review.tsv', sep='\t')

# # Join the three data frames together into one
# listings = pd.merge(airbnb_price, airbnb_room_type, on='listing_id')
# listings = pd.merge(listings, airbnb_last_review, on='listing_id')

# # What are the dates of the earliest and most recent reviews?
# # To use a function like max()/min() on last_review date column, it needs to be converted to datetime type
# listings['last_review_date'] = pd.to_datetime(listings['last_review'], format='%B %d %Y')
# first_reviewed = listings['last_review_date'].min()
# last_reviewed = listings['last_review_date'].max()

# # How many of the listings are private rooms?
# # Since there are differences in capitalization, make capitalization consistent
# listings['room_type'] = listings['room_type'].str.lower()
# private_room_count = listings[listings['room_type'] == 'private room'].shape[0]

# # What is the average listing price?
# # To convert price to numeric, remove " dollars" from each value
# listings['price_clean'] = listings['price'].str.replace(' dollars', '').astype(float)
# avg_price = listings['price_clean'].mean()

# review_dates = pd.DataFrame({
#     'first_reviewed': [first_reviewed],
#     'last_reviewed': [last_reviewed],
#     'nb_private_rooms': [private_room_count],
#     'avg_price': [round(avg_price, 2)]
# })

# print(review_dates)